node_modules/
_*.js
_*.py
_t.js
_obf_*.js
*.log
*backup*.html
*tmp*.html
*备份*.html
*_before_*.html
*最终版*.html
001*.html
index_clean.html
build.js
package.json
package-lock.json
backups/
!index.html
!index_p0.html
!.gitignore
